.jumbotron {
    display: flex;
    flex-direction: column;
}
.jumbotron__content {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 100px;

}
.jumbotron__content__title {
    font-size: 50px;
    font-weight: 700;
}

.jumbotron__content__title__highlight {
    color: #5338CD;
}

.jumbotron__content__connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 200px;
}

.jumbotron__content__connect__item {
    margin-top: 30px;
}


