
.connect_discord {
	min-width: 200px;
	height: 30px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: white;
	background-color: #5865F2;
	border-radius: 5px;
	font-size: 20px;
}
.connect_discord__disabled {
	pointer-events:none
}
.connect_discord:hover {
	cursor: pointer;
	opacity: 0.8;
}
.connect_discord__logo {
	height: 15px;
}

.connect_discord__text {
	color: white;
	margin-left: 10px;
}
#confetti {
	position: absolute;
	width: 100vh;
	height: 100vh;
}
