.jumbotron {
    display: flex;
    flex-direction: column;
}
.jumbotron-content {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 100px;

}
.jumbotron-title {
    font-size: 50px;
    font-weight: 700;
}

.jumbotron-title-sol {
    color: #5338CD;
}

.jumbotron-explanation {
    padding: 10px 0;
    font-size: 18px;
}
